# New York Taxi Trip

In [1]:
# Built-in module:
from os import getcwd, listdir, path
import sqlite3

# Data Manipulation modules:
import polars as pl
import numpy as np

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.style import use

use('ggplot')

## Setting paths to sqlite database:

In [2]:
NB_PATH = getcwd()
BASE = path.abspath(path.join(NB_PATH, '..'))
DATA = path.join(BASE, 'Data')
NYC_FP = path.join(DATA, 'NYC-TAXI-TRIP.parquet')

Loading all data from sqlite to into polars DataFrame then parse it and write it into parquet file for fast reading:

```python
DATA_2019 = path.join(DATA, '2019')
DBs = listdir(DATA_2019)
DFs = list()
schema = {'vendorid': pl.Int8, 'passenger_count': pl.Int32, 
          'trip_distance': pl.Float32, 'ratecodeid': pl.Int8, 'store_and_fwd_flag': pl.String, 'pulocationid': pl.Int32, 'dolocationid': pl.Int32,
          'payment_type': pl.Int8, 'fare_amount': pl.Float32, 'extra': pl.Float32, 'mta_tax': pl.Float32, 'tip_amount': pl.Float32, 
          'tolls_amount': pl.Float32, 'improvement_surcharge': pl.Float32, 'total_amount': pl.Float32, 'congestion_surcharge': pl.Float32}
for DB in DBs:
    DB_PATH = path.join(DATA_2019, DB)
    print(DB_PATH)
    SQL_QUERRY = "SELECT * FROM tripdata" # This is a SQL query to select tripdata and read it with pandas.
    with sqlite3.connect(DB_PATH) as con:
        TMP_DF = (
            pl
            .read_database(SQL_QUERRY, con, schema_overrides=schema)
        )
    DFs.append(TMP_DF)
    del TMP_DF
DF = (
    pl
    .concat(DFs)
    .with_columns([
        pl.col('tpep_pickup_datetime').str.to_datetime(),
        pl.col('tpep_dropoff_datetime').str.to_datetime()
    ])
)

del DFs
DF.write_parquet(NYC_FP)
del DF
```

In [3]:
DF = pl.read_parquet(NYC_FP)

## Cleaning:

### Inspection

In [4]:
DF.head()

shape: (5, 18)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ vendorid ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ tolls_amo ┆ improveme ┆ total_amo ┆ congestio │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ nt_surcha ┆ unt       ┆ n_surchar │
│ i8       ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ rge       ┆ ---       ┆ ge        │
│          ┆ ---       ┆ ---       ┆ i32       ┆   ┆ f32       ┆ ---       ┆ f32       ┆ ---       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆ f32       ┆           ┆ f32       │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1        ┆ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 4.3       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:14:50  ┆ 00:16:48  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 4.3       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:35:54  ┆ 00:37:27  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 3.8       ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:37:45  ┆ 00:37:49  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 8.8       ┆ 2.5       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:44:57  ┆ 00:50:11  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 1        ┆ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ … ┆ 0.0       ┆ 0.3       ┆ 15.3      ┆ 2.5       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:59:48  ┆ 01:10:22  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

### NAs Inspection:

In [5]:
DF.null_count()

shape: (1, 18)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ vendorid ┆ tpep_pick ┆ tpep_drop ┆ passenger ┆ … ┆ tolls_amo ┆ improveme ┆ total_amo ┆ congestio │
│ ---      ┆ up_dateti ┆ off_datet ┆ _count    ┆   ┆ unt       ┆ nt_surcha ┆ unt       ┆ n_surchar │
│ u32      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ rge       ┆ ---       ┆ ge        │
│          ┆ ---       ┆ ---       ┆ u32       ┆   ┆ u32       ┆ ---       ┆ u32       ┆ ---       │
│          ┆ u32       ┆ u32       ┆           ┆   ┆           ┆ u32       ┆           ┆ u32       │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 246601   ┆ 0         ┆ 0         ┆ 246601    ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 4855981   │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

### Adding Metadata:

In [6]:
vendorid = {1: 'Creative Mobile Technologies, LLC', 2: 'VeriFone Inc'}
ratecodeid = {1: 'Standard rate', 2: 'JFK', 3: 'Newark', 4:'Nassau or Westchester', 5:'Negotiated fare', 6:'Group ride'}
payment_type = {1: 'Credit card', 2: 'Cash', 3: 'No charge', 4: 'Dispute', 5: 'Unknown', 6: 'Voided trip'}

In [7]:
DF = (
    DF
    .with_columns([
        pl.col('tpep_pickup_datetime').dt.date().alias('tpep_pickup_date'),
        pl.col('tpep_pickup_datetime').dt.hour().alias('tpep_pickup_hour'),
        pl.col('tpep_pickup_datetime').dt.weekday().alias('tpep_pickup_weekday'),
        pl.col('tpep_dropoff_datetime').dt.date().alias('tpep_dropoff_date'),
        pl.col('tpep_dropoff_datetime').dt.hour().alias('tpep_dropoff_hour'),
        pl.col('tpep_dropoff_datetime').dt.weekday().alias('tpep_dropoff_weekday'),
        (pl.col('tpep_dropoff_datetime') - pl.col('tpep_pickup_datetime')).dt.total_minutes().alias('trip_duration'),
        pl.col('vendorid').replace(vendorid).alias('vendor'),
        pl.col('ratecodeid').replace(ratecodeid).alias('ratecode'),
        pl.col('payment_type').replace(payment_type).alias('paymenttype')
    ])
    .drop('vendorid', 'ratecodeid', 'payment_type')
)

### Load taxi zone loockup table:

In [8]:
taxi_zones_loockup_fp = path.join(DATA, 'taxi_zone_lookup.csv')

taxi_zones = pl.read_csv(taxi_zones_loockup_fp, dtypes=[pl.Int32, pl.String, pl.String, pl.String])
print(f'taxi_zone shape: {taxi_zones.shape}')
taxi_zones.head()

taxi_zone shape: (265, 4)

shape: (5, 4)
┌────────────┬───────────────┬─────────────────────────┬──────────────┐
│ LocationID ┆ Borough       ┆ Zone                    ┆ service_zone │
│ ---        ┆ ---           ┆ ---                     ┆ ---          │
│ i32        ┆ str           ┆ str                     ┆ str          │
╞════════════╪═══════════════╪═════════════════════════╪══════════════╡
│ 1          ┆ EWR           ┆ Newark Airport          ┆ EWR          │
│ 2          ┆ Queens        ┆ Jamaica Bay             ┆ Boro Zone    │
│ 3          ┆ Bronx         ┆ Allerton/Pelham Gardens ┆ Boro Zone    │
│ 4          ┆ Manhattan     ┆ Alphabet City           ┆ Yellow Zone  │
│ 5          ┆ Staten Island ┆ Arden Heights           ┆ Boro Zone    │
└────────────┴───────────────┴─────────────────────────┴──────────────┘

### Merge two datasets

Check for the key in the taxi zone table by which the merge will be done

In [9]:
(
    taxi_zones
    .select([
        pl.col('LocationID').n_unique(),
        pl.col('Borough').n_unique(),
        pl.col('Zone').n_unique(),
        pl.col('service_zone').n_unique()
    ])
)

shape: (1, 4)
┌────────────┬─────────┬──────┬──────────────┐
│ LocationID ┆ Borough ┆ Zone ┆ service_zone │
│ ---        ┆ ---     ┆ ---  ┆ ---          │
│ u32        ┆ u32     ┆ u32  ┆ u32          │
╞════════════╪═════════╪══════╪══════════════╡
│ 265        ┆ 7       ┆ 262  ┆ 5            │
└────────────┴─────────┴──────┴──────────────┘

We can see that LocationID column has only 260 unique values in a total of 263 rows it must contain either duplicates or null values we will first check for null values

In [10]:
taxi_zones.null_count()

shape: (1, 4)
┌────────────┬─────────┬──────┬──────────────┐
│ LocationID ┆ Borough ┆ Zone ┆ service_zone │
│ ---        ┆ ---     ┆ ---  ┆ ---          │
│ u32        ┆ u32     ┆ u32  ┆ u32          │
╞════════════╪═════════╪══════╪══════════════╡
│ 0          ┆ 0       ┆ 0    ┆ 0            │
└────────────┴─────────┴──────┴──────────────┘

We can see in the previous output that taxi_zone does not contain any null value so we ll check for duplicate values

In [12]:
DF = (
    DF
    .join(taxi_zones, left_on='pulocationid', right_on='LocationID')
    .join(taxi_zones, left_on='dolocationid', right_on='LocationID', suffix='_do')
    .rename({'Borough': 'puborough', 'Zone': 'puzone', 'service_zone': 'pu_service_zone', 'paymenttype': 'payment_type',
            'Borough_do': 'doborough', 'Zone_do': 'dozone', 'service_zone_do': 'do_service_zone'})
    .drop('pulocationid', 'bolocationid')
)

In [13]:
DF.head()

shape: (5, 30)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ tpep_pick ┆ tpep_drop ┆ passenger ┆ trip_dist ┆ … ┆ pu_servic ┆ doborough ┆ dozone    ┆ do_servi │
│ up_dateti ┆ off_datet ┆ _count    ┆ ance      ┆   ┆ e_zone    ┆ ---       ┆ ---       ┆ ce_zone  │
│ me        ┆ ime       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ str       ┆ str       ┆ ---      │
│ ---       ┆ ---       ┆ i32       ┆ f32       ┆   ┆ str       ┆           ┆           ┆ str      │
│ datetime[ ┆ datetime[ ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ μs]       ┆ μs]       ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ 0.0       ┆ … ┆ Boro Zone ┆ Queens    ┆ Long      ┆ Boro     │
│ 1         ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆ Island    ┆ Zone     │
│ 00:14:50  ┆ 00:16:48  ┆           ┆           ┆   ┆           ┆           ┆ City/Hunt ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ ers Point ┆          │
│ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ 1.5       ┆ … ┆ Boro Zone ┆ Queens    ┆ Long      ┆ Boro     │
│ 1         ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆ Island    ┆ Zone     │
│ 00:35:54  ┆ 00:37:27  ┆           ┆           ┆   ┆           ┆           ┆ City/Hunt ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ ers Point ┆          │
│ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ 1.5       ┆ … ┆ Boro Zone ┆ Queens    ┆ Long      ┆ Boro     │
│ 1         ┆ 1         ┆           ┆           ┆   ┆           ┆           ┆ Island    ┆ Zone     │
│ 00:37:45  ┆ 00:37:49  ┆           ┆           ┆   ┆           ┆           ┆ City/Hunt ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ ers Point ┆          │
│ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ 0.7       ┆ … ┆ Yellow    ┆ Manhattan ┆ Midtown   ┆ Yellow   │
│ 1         ┆ 1         ┆           ┆           ┆   ┆ Zone      ┆           ┆ Center    ┆ Zone     │
│ 00:44:57  ┆ 00:50:11  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2019-05-0 ┆ 2019-05-0 ┆ 1         ┆ 2.0       ┆ … ┆ Yellow    ┆ Manhattan ┆ Lenox     ┆ Yellow   │
│ 1         ┆ 1         ┆           ┆           ┆   ┆ Zone      ┆           ┆ Hill West ┆ Zone     │
│ 00:59:48  ┆ 01:10:22  ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [14]:
DF.shape

(84399019, 30)

## EDA: